body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #00a651;
}

.btn-custom {
	background: #3d9b35;
	border-bottom: 3px solid #00a651;
	color: white;
	border-radius: 0;
}
.btn-custom:hover {
	background: #00a651 !important;
	color: white;
}

.navbar-custom .btn {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 8px;
	color: white !important;
}
.navbar-custom .navbar-nav>li>a {
	color: #111111;
	text-transform: uppercase;
}

.navbar-custom .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-custom .navbar-collapse {
    text-align: center;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:focus , .navbar-custom .navbar-nav>.active>a:hover {
background-color: transparent;
}
.navbar-custom .navbar-nav>.active>a.btn, .navbar-custom .navbar-nav>.active>a.btn:focus, .navbar-custom .navbar-nav>.active>a.btn:hover {
    background: #00a651 !important;
    color: white;
}

@media (min-width: 768px) {
	.navbar-custom .navbar-nav  {
		/*padding: 10px 0;*/
	}
}

header {
	background: rgba(0,0,0,0.5);
	position: top center;
	background-size: cover;
	height: 640px;
	-moz-transition: background-image 2.5s ease-in, background-image 2.5s ease-out;
 	 -webkit-transition: background-image 2.5s ease-in, background-image 2.5s ease-out;
  	transition: background-image 2.5s ease-in, background-image 2.5s ease-out;

}

.logo {
	padding: 120px 0 60px;
	max-width: 100%;
}

.lead {
	color: #3d9b35;
}

#when-where {
	padding: 75px 0;
}

#map {
	width: 100%;
	height: 350px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}

#about {
	padding: 75px 0;
}
#about h3 {
	color: white;
	margin-bottom: 20px;
	line-height: 1.5;
}

#agenda {
	padding: 75px 0;
}

#speakers {
	background: #f4f4f4;
	padding: 75px 0;
}
.speaker {
	text-align: center;
	margin: 20px 0;
}
.speaker img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.speaker-agenda ul {
  list-style-type: none;
}

.speaker-agenda .text-muted a,a:link {
  color: #999;
}

.speaker-agenda .text-muted a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #3d9b35;
}

#sponsors {
	padding: 75px 0;
	border-bottom: 1px solid #ddd;
}
#sponsors h2 {
	margin: 50px 0 30px 0;
}

/*
 * yes, .sponsor-logo is much nicer but filtered by adblock ;)
 */
.mobilization-sponsor-logo {
	display: inline-block;
	margin: 10px;
}
.mobilization-sponsor-logo img {
  max-height: 100px;
  border: 0px;
  max-width: 200px;
  padding: 5px 0px;
}
#sponsors a:hover, #partners a:hover {
	opacity: 0.8;
	text-decoration: none;
}

#partners {
	padding: 75px 0;
}

.partner-logo {
  display: inline-block;
  margin: 10px;
}
.partner-logo img {
  max-height: 100px;
  max-width: 150px;
  border: 0px;
  padding: 5px 0;
}

#contact {
	background: #f4f4f4;
	padding: 75px 0;
}

footer {
	padding: 30px 0 20px 0;
	background: #3d9b35;
}
footer p {
	color: white;
	text-align:center;
}



.figcaption {
	position: absolute;
	opacity: 0;
}
.figcaption:hover {
	opacity: 1;
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}


.nav-agenda .nav-pills>li.active>a, .nav-agenda .nav-pills>li.active>a:hover, .nav-agenda .nav-pills>li.active>a:focus, .nav-agenda .nav>li>a:hover, .nav-agenda .nav>li>a:focus {
	color: #333;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(left, #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #eeeeee 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #eeeeee 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.nav-agenda .nav-pills>li>a {
	border-radius: 0;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 0;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            max-width: 100%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 11px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 6px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 7px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 1px;
            left: 0;
            margin-left: -20px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            background: #3d9b35;
			border-bottom: 3px solid #00a651;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            /*float: right;*/
            margin-left: 40px;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-title {
  /*margin-top: 0;*/
  color: inherit;
  margin: 0;
  cursor: default;
}

.timeline-heading .text-muted {
  padding-right: 4px;
}

.timeline-heading .text-muted a,a:link {
  color: #999;
}

.timeline-heading .text-muted a:hover {
  text-decoration: none;
  color: #3d9b35;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


.timeline-description {
  margin-top: 4px;
  max-width: 490px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
  text-align: justify;
}

.timeline-description.short {
  max-height: 20px;
  white-space: nowrap;
}