<div id="registration">
	 <h2 class="text-center">REGISTER FOR FREE</h2><br /><br />
	<iframe src="http://eventbrite.co.uk/tickets-external?eid=8565400343&ref=mobilizationweb" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" />
	<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Powered by Eventbrite</a></div>
</div>
